.container .products {
  display: flex;
  background-color: white;
  border: none;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.container .products button {

  border: none;
  background-color: white;
}
.container h4 {
  font-family: "Playfair Display", serif;
}

