.mesaj-cart{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.mesaj-cart button{
    margin-left: 2rem;
}
.table{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
}
.container-products .row{
    border-bottom: 0.5px solid black;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.buttons-options-remove{
    display: flex;
    justify-content: space-between;
}
