.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.col-md-4 img {
  width: 8rem;
  /* border-radius: 50%; */
}
.col-md-4 nav ul li {
  list-style-type: none;
  margin-right: 2rem;
}
.col-md-4 nav .link {
  text-decoration: none;
}
.col-md-4 nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-md-4 li .link {
  color: burlywood;
}

.col-md-4 .cart {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-4 .cart .link {
  text-decoration: none;
  color: black;
}
.col-md-4 h1 {
  text-decoration: none;
}
.cart .number-of-products{
  font-size: 1.6rem;
  border-radius: 90%;
  margin-bottom: 2rem;
  font-weight: bold;
  color:brown;
}
